@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
html{
    scroll-behavior: smooth;
}
p{
    font-weight: lighter;
}


li{
    list-style-type: none;
    
}
h1{
    font-size: 76px}
button{
     cursor: pointer;
    }

.click{
    cursor: pointer;
    transition: all 300ms ease;
}
.click:hover{
    transform: scale(1.1);
}
.click:active{
    transform: scale(0.8);
}
#persnal-logo{
    width: 80px;
}

.mail__btn{
    width: 70px;
    height: 70px;
    font-size: 32px;
    border-radius: 50%;
    border: none;
    background-color: black;
    color: white;
    position: fixed;
    bottom: 32px;
    right: 40px;
    z-index: 100;
    box-shadow: 0 12px 30px 0 black;
    cursor: pointer;
    



}

.scroll{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
}
 .scroll__icon{
    width: 20px;
    height: 30px;
    border: 2px solid black;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
 }

.scroll__icon::after{
    background-color: black;
    content: "";
    width: 4px;
    height: 6px;
    background-color: black;
   border-radius: 2px;
   animation: scroll 1000ms infinite alternate-reverse;
}
@keyframes scroll {
    0% {
        transform: translateY(3px);
    }
    100%{
        transform: translateY(-3px);
    }


}



section{
   background-color: rgb(245, 245, 245);
}


.link__hover-effect{
    position: relative;
}

.link__hover-effect:after{
    content: '';
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 0;
    right: 0;
    transition: all 300ms ease;

}
.link__hover-effect--white:after{
    color: white;
}
.link__hover-effect--black:after{
   background-color:  black;
}
.link__hover-effect:hover::after{
    left: 0;
    width: 100%;
}

/* modal*/

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1100px;
    height: 600px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    text-align: left;
    visibility: hidden;
    z-index: -1;
    transition: visibility 1s, z-index 1s, box-shadow 0.5s ease;
}

.modal--open .modal{
    z-index: 60;
    visibility: visible;
    box-shadow: 0 20px 80px 0 rgb( 0,0,0,0.55);

}

.modal--open .modal__about,
.modal--open .modal__contact
{
    transform: translateX(0%);
}

.modal__about{
    background-color: white;
    transform: translateX(-110%);
}



.modal__half{
    width: 50%;
    padding: 50px 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    transition: all 300ms ease-in;
    

}

.modal__about{
    background-color: white;
    display: flex;
    flex-direction: column;
    
}
.modal__contact{
    background-color: black;
    color: azure;
    transform: translateX(110%);
}


.modal__title{
    font-size: 26px;
  
}
.modal__subtitle{
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.modal__para{
 font-size: 16px;
 line-height: 1.6;
 margin-bottom: 20px;


}



.lanugage__list{
    display: flex;
    flex-wrap: wrap;
    

}
.modal__langage:hover .language__name{
    transform: scale(1);
    transition: all 300ms ease;
    

}
.modal__langage:hover{
    filter: brightness(80%);
    transform: scale(0.9);
}
.language__name{
   position: absolute;
   bottom: -10px;
   transform: scale(0);

}
.modal__langage{
    width: 25%;
    padding: 12px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 300ms ease;
}
   
.lanugage{
    width: 100%;
    
}

.contact__form{
  width: 100%;
  position: relative;
}



.input, textarea {
    width: 100%;
    background-color: black;
    color: white;
    outline:none;
    border: 3px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 40px;
    margin-bottom: 20px;
    transition: all 300ms ease;
   
}
textarea{
    resize: vertical;
    height: 100px;
    margin-top: 10px;
    
}
.input:hover, textarea:hover{
    border-color: aliceblue;
}
input:focus, textarea:focus{
    border-color: blue;
}

.submit__botton{
    font-size: 15px ;
    background-color: rgb(192, 40, 192);
    color: white;
    padding: 10px;
    border: 2px solid rgb(186, 36, 186);
    font-weight: bold;
    width: 70%;
    transition: all 300ms ease;
}
.submit__botton:hover{
    border-color:white;
    background-color:transparent ;


}
.submit__botton:active{
    border-color: rgb(183, 33, 183);
    color: purple;
}

.modal__overlay--loading{
    background-color: black;
    font-size: 80px;
}


.fa-spinner{
    animation: spinner 750ms infinite linear;
}
.dark-theme #persnal-logo


@keyframes spinner{

    0%{
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }

}

.modal__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100% ;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.modal__overlay--success{
    background-color: rgb(36, 200, 36);
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding: 28px;
}

.modal__overlay--visible{
    z-index: 1;
    display: flex;
}




.modal__exit{
    position: absolute;
    top: 30px;
    right: 40px;
    color: white;
    font-size: 36px;
    z-index: 100;
}

nav,
.scroll,
.header{
    opacity: 1;
    visibility: visible;
    transition: all 600ms 800ms;
}
.modal--open nav,
.modal--open .scroll,
.modal--open .header{
    opacity: 0;
    visibility: hidden;
    transition: all 400ms ;
}

.dark-theme .title,
.dark-theme .section__title,
.dark-theme .header__para,
.dark-theme .nav__link--anchor,
.dark-theme .fa-adjust,
.dark-theme .scroll
{
    color: white;

}
.dark-theme section{
    background-color: #242424; 
    transition: all 300ms ease;
}

.dark-theme #persnal-logo{
    filter: none;
}

.dark-theme .scroll__icon{
    border-color: white;
}
.dark-theme .scroll__icon::after,
.dark-theme .link__hover-effect--black:after{
    background-color: white;
}
.dark-theme .mail__btn{
    background-color: white;
  color: rgb(198, 49, 218);
}

/* landing page */

#landing-page{
    min-height: 100vh;
}

.header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1000px;
    padding: 0px 30px;
   
}

.blue{
    color: rgb(188, 26, 188);
    font-weight: bold;
}
.title{
    font-size: 76px;
    margin-bottom: 12px;

}
.header__para{
    font-size: 20px;
    line-height: 2;
    max-width: 450px;

}

.social__list{
    margin-top: 16px;
    display: flex;
}

.social__link{
    color: rgb(188, 26, 188);
    padding: 6px;
    width: 32px;
    height: 32px;
    font-size: 20px;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
   
   
}






/* NAV */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    height: 100px;
}
  
#personal-logo {
    height: 50px;
    width: 50px;
    filter: invert(1);
}
  
.nav__link--list {
    display: flex;
}
  
.nav__link {
    margin: 0 12px;
}
  
.nav__link--anchor {
    text-decoration: none;
    font-size: 16px;
    color: #242424;
    font-weight: 700;
}
  
.fa-adjust {
    font-size: 20px;
}
  


/* my projects */

.section__title{
    font-size: 46px;
    margin: 0px 0px 60px;
    text-align: center;
}

.container{
    padding: 50px 0px;
    width: 100%
}

.row{
    width: 100%;
    max-width: 1100px;
    padding:0px 12px ;
 
}

.projects{
    margin-bottom:  135px; ;
}


.project__wrapper:hover .project__discription{
    opacity: 1;
    transform: translateY(-50%);
}

.project__wrapper:hover .img__project{
    transform: scale(1.04);
    filter: blur(5px);
}


.project__wrapper{
    position: relative;
    border-radius: 30px;
    box-shadow: 0 20px 80px 0 rgb(0 0 0/ 45%);
    overflow: hidden;
   
 
}
.project__discription{
    position: absolute ;
    top: 50%;
    left: 90px;
    opacity: 0;
    transition: opacity 300ms, transform 500ms ease;
    transform: translateY(100%);
    color: aliceblue;
    max-width: 550px;

}

.project__wrapper:hover .bg__project{
    opacity: 0.7;
}



.bg__project{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    transition: all 300ms ease;
}


.project__discription--title{
    font-size: 40px;
}
.project__discription--sub-title{
    margin-top: 8px;

}

.project__discription--link{
    color: white;
    font-size: 20px;
    margin-right: 16px;
}

.project__para{
    font-size: 13px;
    margin: 16px 0;
}


.project:hover .img__project{
    transform: scale(1.07);
    filter: blur(5px);
}


.img__project{
    width: 100%;


}




/* footer */

.footer{
    background-color: black;
    padding: 50px 0px 50px 0px;
    position: relative;
    display: flex;
}

.footer__row{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  
   
}
.white{
    color: aliceblue;
    font-size: 12px;
    text-align: center;
}

.footer__logo{
    width: 70px;
   background-color: azure;
    
   

}

.footer__links{
   margin: 28px 0px;
   width: 100%;
   max-width: 500px;
   display: flex;
   justify-content: space-around;
   color: aliceblue;
   
}
.footer__link{
    text-decoration: none;
    color: white;
    
   
   
}

/* shapes */

.shape{
    position: fixed;
}
.shape--0{
    top: 15vh;
    left: 5vw;
}
.shape--1{
    top: 15vh;
    left: 50vw;
}
.shape--2{
    top: 15vh;
    left: 80vw;
}
.shape--3{
    top: 50vh;
    left: 5vw;
}
.shape--4{
    top: 50vh;
    left: 50vw;
}
.shape--5{
    top: 50vh;
    left: 80vw;
}
.shape--6{
    top: 80vh;
    left: 5vw;
}
.shape--7{
    top: 80vh;
    left: 50vw;
}

.shape--8{
    top: 80vh;
    left: 80vw;
}





@media (max-width:768px){
    .title{
        font-size: 80px;
    }
    .header__para{
        font-size: 20px;
    }
    .modal{
        top: 0;
        left: 0;
        transform: none;
        height: auto;
        width: 100%;
        flex-direction: column-reverse;
        border-radius: 0;

    }
    .modal__half{
        width: 100%;
    }

}




@media(max-width: 480px) {
    .title {
        font-size: 52px;
    
}
.header__para{
    font-size: 18px;
}
.nav__link:first-child{
    display: none;
}
.project__para{
    display: none;
}
.project__discription{
    left: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}
.project__discription--sub-title{
    margin-bottom: 8px;
}








